*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
} /*sirve para qee el scrool sea suave */
body{
    height: 100vh;
    background-color: grey ;
  

    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    background: lightblue;
   

    
    
}
a{
    text-decoration: none;
    color: black;
}

.navbar{
    font-size: 20px;
    width: 25%;
    margin-right: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;

       
    
    
}
.button{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: transparent;
    border: transparent;
    cursor: pointer;
    
}
.search-container{
    width: 15%;
    height: 2.5rem;
    align-items: center;
    position: relative;
    margin-right: 100px;
	
}
.input{
width: 100%;
height: 2.5rem;
border-radius: 30px;
display: block;
font-size: 15px;
padding-left: 50px;
outline: none;



}


header .logo{
    width: 8vw;
    cursor: pointer;
    border: none;
    margin-left: 50px;
    justify-content: right;
       

}


.imagen{
    width: 1.5vw;
    border-radius: 90%;
    cursor: pointer;
}

.iconos-header{
    display: flex;
    align-items: center;
    justify-content:space-between;
     width: 100px;
    margin-right: 80px;
    
}
